#commentsEverywhereWrapper {
    display: none;
    background: red;
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 50%;
    z-index: 99999999;
    background: white;
    padding: 5px;
    width: 700px;
    margin-left: -400px;
    border: 5px solid black;
    border-radius: 15px;
    height: 50%;
    margin-bottom: 10px;
    float: left;
}

.fb_iframe_widget {
    float: left;
}

#commentsEverywhereWrapper .commentsWrapper {
    float: left;
}

#commentsEverywhereWidget p {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 8px;
    font-family: Arial;
    font-size: 12px;
}

#commentsEverywhereWidget {
    position: fixed;
    right: 0;
    top: 20px;
    height: 90px;
    width: 35px;
    cursor: pointer;
    color: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
    background: cornflowerblue;
}

#commentsEverywhereWrapper .mainHeader {
    line-height: 12px;
    font-size: 10px;
    margin: 0;
}